body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5fcff;
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Poppins";
  font-style: normal;
}

