.queue_position_div {
    width: 318px;
    height: 180px;
    overflow: hidden;
    box-shadow: 0px 2px 5px 0px #dddddd;
    background-color: #c4f297;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.people {
    width: 195px;
    height: 20px;
    overflow: hidden;
    line-height: 1.3;
    letter-spacing: 0px;
    font-family: "Poppins-SemiBold", serif;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    margin-top: 25px;
    margin-bottom: 12px;
}

.number {
    width: 165px;
    height: 65px;
    overflow: visible;
    font-family: "Jost-Semi", serif;
    letter-spacing: 0px;
    line-height: 1.3;
    text-align: center;
    color: #ffffff;
    font-size: 50px;
    margin: 0;
}

.email {
    width: 260px;
    height: 30px;
    overflow: hidden;
    letter-spacing: 0px;
    line-height: 1.3;
    text-align: center;
    color: #347434;
    font-family: "Poppins-Medium", serif;
    font-size: 12px;
    text-decoration: underline;
    margin-top: 12px;
}